@{
    ViewBag.Title = "Contact";
}
<h2 style="color:rosybrown">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address style="color:white">
    Eva Gallery<br />
    Redmond, WA 99992-99988<br />
    <abbr title="Phone">P:12345678</abbr><br />
    344.515.0000
</address>

<address>
    <strong style="color:white">Support:</strong>   <a href="mailto:Merrita@example.com">Support@example.com</a><br />
 
</address>