@{
    ViewBag.Title = "New Post";
}
<br />
<h5 style="color:rosybrown">Create new blog post................</h5>
<br />
<form method="post">
    <div class="fontcolr">
        <label>Title</label>
        <input type="text" name="title" style="" class="form-control" placeholder="The headline goes here..." /><br />
        <label>Tags</label>
        <input type="text" name="tags" style="" class="form-control" placeholder="Separate each tag using a comma ','." /><br />
        <label>Content</label>
        <textarea name="content" class="form-control" style="height: 300px;" placeholder="What would you like to write?"></textarea><br />
        <input type="submit" style="width: auto; font-weight: 600; "value="Post" class="btn btn-primary" ><br />
    </div>
</form>

